##**Topics** Covered Today

*   List item
*   Introduction


*   Fast and Efficient

*   In-Memory
*   Easy to handle missing data


*   Easy for Data Manipulation

*   Supports operations like aggregation, groupby, reshape, pivot, insertion, deletion and lot more
*   Supports Timeseries conversion

*   Creating DF
*   Reading Data ffrom different Sources

*   Writing a DF to a CSV file
*   basic Functions

In [1]:
##Import Pandas Library and name it as pd
import pandas as pd

##Creating an empty DF

In [2]:
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

##Creating Custom DataFrame

Single Column DF

In [3]:
companies=["Metaverse","Google","Microsoft","Tesla"]
print(companies)
df_companies=pd.DataFrame(companies)
print(df_companies)

['Metaverse', 'Google', 'Microsoft', 'Tesla']
           0
0  Metaverse
1     Google
2  Microsoft
3      Tesla

Multiple Column DF

In [4]:
companies=[["Metaverse","Meta",200],["Google","Alphabet",700],["Microsoft","MSFT",500],["Tesla","TSLA",1000]]
print(companies)
df_companies=pd.DataFrame(companies,columns=['Company',"Shortcut","Price"])
print(df_companies)

[['Metaverse', 'Meta', 200], ['Google', 'Alphabet', 700], ['Microsoft', 'MSFT', 500], ['Tesla', 'TSLA', 1000]]
     Company  Shortcut  Price
0  Metaverse      Meta    200
1     Google  Alphabet    700
2  Microsoft      MSFT    500
3      Tesla      TSLA   1000

In [5]:
pd.DataFrame({"Apple": ["IPhone", "Ipad","Imac"], "Tesla": ["Model S", "Model E","Model X"]})

    Apple    Tesla
0  IPhone  Model S
1    Ipad  Model E
2    Imac  Model X

In [6]:
pd.DataFrame({"Apple": ["IPhone", "Ipad","Imac"], "Tesla": ["Model S", "Model E","Model X"]},index=["prod_1","prod_2","prod_3"])

         Apple    Tesla
prod_1  IPhone  Model S
prod_2    Ipad  Model E
prod_3    Imac  Model X

#Reading Data From Different Sources

In [7]:
csv_df = pd.read_csv('https://raw.githubusercontent.com/rsharankumar/Learn_Data_Science_in_100Days/master/Day08%20-%20Pandas%20Intro%2C%20Read%20and%20Write%20Dataframe/Data/Sample1.csv')
csv_df.head(5)

  Companies   Seq
0     Apple  1111
1    Google  2222
2  Facebook  3333
3    Amazon  4444

In [8]:
txt_df = pd.read_csv('https://raw.githubusercontent.com/rsharankumar/Learn_Data_Science_in_100Days/master/Day08%20-%20Pandas%20Intro%2C%20Read%20and%20Write%20Dataframe/Data/Sample1.txt', sep="\t")
txt_df.head(5)

  Companies   Seq
0     Apple  1111
1    Google  2222
2  Facebook  3333
3    Amazon  4444

#Writing Data Frame

In [21]:
companies = [["Apple",111],["Facebook",222],["Google",333], ["Amazon", 444]]
df_companies2 = pd.DataFrame(companies,columns=['Company','Seq'])

#Creating a folder
import os
path ="Data"
os.makedirs(path,exist_ok=True)
#exist_ok=True because if u compile more ones then it doest pour error due directory already Exist

#df_companies2.to_csv('Data/Write_to_file.csv')
df_companies2.to_csv('Data/Write_to_file.csv', encoding='utf-8', index=False) # character encoding that can be as compact as ASCII

#Basic Operation

In [22]:
companies3 = [["Apple",111],["Facebook",222],["Google",333], ["Amazon", 444], ["Tesla", 555], ["Zoom", 666], ["Microsoft", 777]]
df_companies3 = pd.DataFrame(companies3,columns=['Company','Seq'])
#df_companies3.head()
df_companies3.tail(2)

     Company  Seq
5       Zoom  666
6  Microsoft  777

In [23]:
print(df_companies3.T)

             0         1       2       3      4     5          6
Company  Apple  Facebook  Google  Amazon  Tesla  Zoom  Microsoft
Seq        111       222     333     444    555   666        777

In [24]:
print(df_companies3.ndim)
print(df_companies3.shape)
print(df_companies3.size)

2
(7, 2)
14