In [5]:
!pip install pymongo[srv]

Collecting pymongo[srv]
  Downloading pymongo-4.3.3-cp39-cp39-win_amd64.whl (382 kB)
     -------------------------------------- 382.5/382.5 kB 1.8 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Using cached dnspython-2.2.1-py3-none-any.whl (269 kB)
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.2.1 pymongo-4.3.3

In [6]:
import pymongo

In [9]:

client = pymongo.MongoClient("mongodb+srv://Sam_JoHUA:mongodbforver@newcluster.omckzvy.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [22]:
DEFAULT_URL = "mongodb://localhost:27017/"
DB_NAME = "experiment"
client = pymongo.MongoClient(DEFAULT_URL)
database = client[DB_NAME]

In [23]:
client.list_database_names()

['admin', 'config', 'experiment', 'local']

In [25]:
def Check_Existence_DB(DB_NAME,client):
    db_list = client.list_database_names()
    if DB_NAME in db_list:
        return True
    else:
        return False
print(Check_Existence_DB("experiment",client))

True

In [28]:
collection = database['collections']

In [30]:
record = {
    'Company':'Tesla',
    'Profits':20,
    'Type':'private'
}
collection.insert_one(record)

In [31]:
record = {
    'Company':'Tesla',
    'Profits':20,
    'Type':'private',
    'CEO':['Rx','Tez']
}
collection.insert_one(record)

In [32]:
record = {
    'Company':'Tesla',
    'Profits':20,
    'Type':'private',
    'CEO':['Rx','Tez'],
    'Detail':{'enter':'dict'}
}
collection.insert_one(record)

In [33]:
record = [
    {
       'Company':'Tesla',
        'Profits':20
    },
    {
        'Type':'private',
        'CEO':['Rx','Tez']
    }
]
collection.insert_many(record)

In [34]:
record = [
    {
        "_id":12,
        "name":"Vignesh"
    },
    {
        "_id":18,
        "name":"Jai"
    }
]
collection.insert_many(record)

In [35]:
for x in collection.find():
    print(x)

{'_id': ObjectId('639222076fec931ffa5f59a1'), 'Company': 'Tesla', 'Profits': 20, 'Type': 'private'}
{'_id': ObjectId('639222896fec931ffa5f59a2'), 'Company': 'Tesla', 'Profits': 20, 'Type': 'private', 'CEO': ['Rx', 'Tez']}
{'_id': ObjectId('639222e26fec931ffa5f59a3'), 'Company': 'Tesla', 'Profits': 20, 'Type': 'private', 'CEO': ['Rx', 'Tez'], 'Detail': {'enter': 'dict'}}
{'_id': ObjectId('6392239e6fec931ffa5f59a4'), 'Company': 'Tesla', 'Profits': 20}
{'_id': ObjectId('6392239e6fec931ffa5f59a5'), 'Type': 'private', 'CEO': ['Rx', 'Tez']}
{'_id': 12, 'name': 'Vignesh'}
{'_id': 18, 'name': 'Jai'}

In [39]:
myquery = { "name": "Vignesh" }
newvalues = { "$set": { "name": "Vicky" } }

collection.update_one(myquery, newvalues)

In [37]:
myquery = { "Type": "private" }

collection.delete_one(myquery)

In [40]:
for x in collection.find():
    print(x)

{'_id': ObjectId('639222896fec931ffa5f59a2'), 'Company': 'Tesla', 'Profits': 20, 'Type': 'private', 'CEO': ['Rx', 'Tez']}
{'_id': ObjectId('639222e26fec931ffa5f59a3'), 'Company': 'Tesla', 'Profits': 20, 'Type': 'private', 'CEO': ['Rx', 'Tez'], 'Detail': {'enter': 'dict'}}
{'_id': ObjectId('6392239e6fec931ffa5f59a4'), 'Company': 'Tesla', 'Profits': 20}
{'_id': ObjectId('6392239e6fec931ffa5f59a5'), 'Type': 'private', 'CEO': ['Rx', 'Tez']}
{'_id': 12, 'name': 'Vicky'}
{'_id': 18, 'name': 'Jai'}

In [41]:
myquery = { "Type": "private" }

collection.delete_many(myquery)

In [42]:
for x in collection.find():
    print(x)

{'_id': ObjectId('6392239e6fec931ffa5f59a4'), 'Company': 'Tesla', 'Profits': 20}
{'_id': 12, 'name': 'Vicky'}
{'_id': 18, 'name': 'Jai'}