#**Topic to be covered**
##*   Indexing
##*   Reindexing
##*   Selection 
##*   Assignment

In [9]:
#Import Pandas and naming its as pd
import pandas as pd

#Reading Data

In [10]:
df=pd.read_csv(r"https://raw.githubusercontent.com/rsharankumar/Learn_Data_Science_in_100Days/master/Day09%20-%20Index%2C%20Selection%20and%20Assignment/Data/SearchTrendData.csv")

In [11]:
df.head()

,Week,eLearning,DataScience,MachineLearning,ArtificialIntelligence,DeepLearning
0,20/09/2015,32,9,11,11,4
1,27/09/2015,35,10,11,11,4
2,4/10/2015,38,10,12,11,4
3,11/10/2015,37,9,12,10,4
4,18/10/2015,38,9,12,10,4

##Selcting an particular column

In [12]:
df.eLearning

0      32
1      35
2      38
3      37
4      38
       ..
256    41
257    49
258    62
259    74
260    80
Name: eLearning, Length: 261, dtype: int64

In [13]:
df['eLearning']

0      32
1      35
2      38
3      37
4      38
       ..
256    41
257    49
258    62
259    74
260    80
Name: eLearning, Length: 261, dtype: int64

##In an columns specifying single data

In [14]:
df['Week'][0]

'20/09/2015'

##Selecting using loc

In [15]:
#Specifying all rows in columns of weeks and datascience
df.loc[:,['Week','DataScience']]

           Week  DataScience
0    20/09/2015            9
1    27/09/2015           10
2     4/10/2015           10
3    11/10/2015            9
4    18/10/2015            9
..          ...          ...
256  16/08/2020           36
257  23/08/2020           39
258  30/08/2020           37
259   6/09/2020           38
260  13/09/2020           39

[261 rows x 2 columns]

###Specifying few columns

In [16]:
print(df.loc[[0,1,2],['Week', 'DataScience']])

         Week  DataScience
0  20/09/2015            9
1  27/09/2015           10
2   4/10/2015           10

##Using iloc

In [17]:
print(df.iloc[250:260,])
# Using iloc now the last element is not printed

           Week  eLearning  DataScience  MachineLearning  \
250   5/07/2020         55           35               39
251  12/07/2020         58           36               40
252  19/07/2020         55           36               40
253  26/07/2020         43           34               39
254   2/08/2020         44           34               37
255   9/08/2020         44           35               38
256  16/08/2020         41           36               40
257  23/08/2020         49           39               40
258  30/08/2020         62           37               40
259   6/09/2020         74           38               42

     ArtificialIntelligence  DeepLearning
250                      19            14
251                      21            15
252                      21            14
253                      20            14
254                      20            13
255                      21            13
256                      22            14
257                      21            14
258                      21            14
259                      24            14

##Iloc using negative indexing

In [18]:
df.loc[-1:,:]

,Week,eLearning,DataScience,MachineLearning,ArtificialIntelligence,DeepLearning
0,20/09/2015,32,9,11,11,4
1,27/09/2015,35,10,11,11,4
2,4/10/2015,38,10,12,11,4
3,11/10/2015,37,9,12,10,4
4,18/10/2015,38,9,12,10,4
...,...,...,...,...,...,...
256,16/08/2020,41,36,40,22,14
257,23/08/2020,49,39,40,21,14
258,30/08/2020,62,37,40,21,14
259,6/09/2020,74,38,42,24,14
260,13/09/2020,80,39,39,21,14

#Condition Selection

In [19]:
df.Week == '13/09/2020'
# Identifies the row that has the value

0      False
1      False
2      False
3      False
4      False
       ...
256    False
257    False
258    False
259    False
260     True
Name: Week, Length: 261, dtype: bool

In [20]:
# Now passing that to the data frame will print that row
df.loc[df.Week == '13/09/2020']

,Week,eLearning,DataScience,MachineLearning,ArtificialIntelligence,DeepLearning
260,13/09/2020,80,39,39,21,14

In [21]:
df.loc[(df.DataScience >= 30)]

,Week,eLearning,DataScience,MachineLearning,ArtificialIntelligence,DeepLearning
178,17/02/2019,35,30,42,25,15
183,24/03/2019,38,30,41,24,16
191,19/05/2019,35,30,39,22,15
194,9/06/2019,27,30,42,22,15
195,16/06/2019,32,31,41,24,15
...,...,...,...,...,...,...
256,16/08/2020,41,36,40,22,14
257,23/08/2020,49,39,40,21,14
258,30/08/2020,62,37,40,21,14
259,6/09/2020,74,38,42,24,14
260,13/09/2020,80,39,39,21,14

##Using multiple condition

In [22]:
df.loc[(df.DataScience >= 30) & (df.MachineLearning >= 30)]

,Week,eLearning,DataScience,MachineLearning,ArtificialIntelligence,DeepLearning
178,17/02/2019,35,30,42,25,15
183,24/03/2019,38,30,41,24,16
191,19/05/2019,35,30,39,22,15
194,9/06/2019,27,30,42,22,15
195,16/06/2019,32,31,41,24,15
...,...,...,...,...,...,...
256,16/08/2020,41,36,40,22,14
257,23/08/2020,49,39,40,21,14
258,30/08/2020,62,37,40,21,14
259,6/09/2020,74,38,42,24,14
260,13/09/2020,80,39,39,21,14

#Identifying row that are null

In [23]:
df.loc[df.DataScience.notnull()]

,Week,eLearning,DataScience,MachineLearning,ArtificialIntelligence,DeepLearning
0,20/09/2015,32,9,11,11,4
1,27/09/2015,35,10,11,11,4
2,4/10/2015,38,10,12,11,4
3,11/10/2015,37,9,12,10,4
4,18/10/2015,38,9,12,10,4
...,...,...,...,...,...,...
256,16/08/2020,41,36,40,22,14
257,23/08/2020,49,39,40,21,14
258,30/08/2020,62,37,40,21,14
259,6/09/2020,74,38,42,24,14
260,13/09/2020,80,39,39,21,14

In [24]:
df.loc[df.DataScience.isnull()]

Empty DataFrame
Columns: [Week, eLearning, DataScience, MachineLearning, ArtificialIntelligence, DeepLearning]
Index: []

##Assign Values

In [25]:
df['EdgeCompute'] = 45

In [26]:
df.head()

,Week,eLearning,DataScience,MachineLearning,ArtificialIntelligence,DeepLearning,EdgeCompute
0,20/09/2015,32,9,11,11,4,45
1,27/09/2015,35,10,11,11,4,45
2,4/10/2015,38,10,12,11,4,45
3,11/10/2015,37,9,12,10,4,45
4,18/10/2015,38,9,12,10,4,45

###Reindexing / Chaining index

In [27]:
df.set_index("Week")

,eLearning,DataScience,MachineLearning,ArtificialIntelligence,DeepLearning,EdgeCompute
Week,,,,,,
20/09/2015,32,9,11,11,4,45
27/09/2015,35,10,11,11,4,45
4/10/2015,38,10,12,11,4,45
11/10/2015,37,9,12,10,4,45
18/10/2015,38,9,12,10,4,45
...,...,...,...,...,...,...
16/08/2020,41,36,40,22,14,45
23/08/2020,49,39,40,21,14,45
30/08/2020,62,37,40,21,14,45
6/09/2020,74,38,42,24,14,45
13/09/2020,80,39,39,21,14,45